img {
  border-radius: 50%;
  width: 160px;
}

.div_profile {
  margin-left: 3%;
  padding: 5% 40px 50px 60px;
}

.profile_a {
  text-decoration: none;
  margin: 10px;
  color: grey;
  font-size: medium;
}

button {
  border-color: darkgrey;
  padding: 10px 20px 10px 20px;
}

.btn_txt {
  font-weight: bold;
  font-size: x-small;
  font-style: normal;
  color: grey;
}

.websiteUrl {
  font-size: small;
}

.profile_p {
    color: grey;
}

.click {
  background: white;
  cursor: pointer;
}

.click:hover {
  opacity: 0.3;
}

#mail {
  text-decoration: none;
  color: grey;
  font-size: medium;
}

.grey {
  color: grey;
}