#contact {
    background-color: white;
    margin: 30px 10px;
    padding: 20px 30px;
    height: fit-content;
}

.grey {
    color: grey;
}

.black {
    color: black;
}

#a_contact1 {
    color: grey;
}