#contact {
    background-color: white;
    margin: 70px 50px 50px 50px;
    padding: 30px 50px 50px 50px;
    height: fit-content;
    width: 60%;
}

.grey {
    color: grey;
}

.black {
    color: black;
}

#a_contact1 {
    color: grey;
}