#home {
  background-color: white;
  margin: 5%;
  height: fit-content;
  width: 75%;
}

.home_about {
  padding: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

.grey {
    color: grey;
}
