.navbar_a {
  text-decoration: none;
  margin: 10px;
  color: grey;
  font-size: medium;
  padding: 1%;
}

.navbar {
  border-bottom-style: inset;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  padding: 1%;
  background-color: white;
}

.navbar_name {
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  border-right-style: inset;
  border-right-width: 2px;
  padding: 1%;
  color: black;
  border-color: lightgray;
}

.navbar_name_div {
  display: inline;
}

.links {
  display: inline;
}

.text1 {
  color: lightgray;
}
