a {
    text-decoration: none;
    margin: 10px;
    color: dimgray;
    font-size: medium;
  }
  
  .navbar {
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
    padding: 10px;
    background-color: white;
  }
  
  .navbar_name {
    font-weight: bold;
    font-size: medium;
    border-right-style: inset;
    border-right-width: 2px;
    padding: 10px;
  }
  
  .navbar_name_div {
    display: inline;
  }
  
  .links {
  display: inline;
  }
  
  .text1 {
    color: lightgray;
  }
  